@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", system-ui;
}

body {
  background-color: rgb(0, 120, 120);
}

.logo-title {
  color: white;
  text-decoration: none;
}

header {
  padding: 5px 30px;
  background-color: rgb(0, 100, 100);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  padding-left: 25px;
  color: white;
}

nav a:hover {
  color: rgb(0, 30, 35);
}

.logo-title:hover {
  cursor: pointer;
  color: rgb(0, 30, 35);
}

.main h1{
color: white;
}

.main h3{
  color: white;
}

.main p{
  color: white;
}
section{
  padding: 30px;
  text-align: center;
}
